.table{
    width: auto;
    margin: 2rem auto 0 auto;
    h3{
        text-align: center;
        margin-bottom: 1rem;
    }
    table{
        border: 2px solid black;
        border-collapse: collapse;
    }
    th, tr, td{
        border: 2px solid black;
        padding: 0.5rem;
    }
    th{
        text-align: center;
    }
    td{
        text-align: center;
        button{
            a{
                color: white;
                text-decoration: none;
            }
        }
        form{
            input[name="justif"]{
                margin-bottom: 0.5rem;
            }
        }
    }
    
}

/** STYLE SMARTPHONE **/
@media (hover: none), (max-width: 860px){
   .table{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
   }
    table thead {
        display: none;
      }
    
      table,
      tbody,
      tr,
      td {
        display: block;
        width: 100%;
        text-align: right;
      }
      tr {
        margin-bottom: 15px;
      }
      td {
        padding-left: 50%;
        position: relative;
      }
      .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
        
}
