.generateCode{
    
    text-align: center;
    margin: 2rem auto 2rem auto;
}

#boutons{
    margin: 0 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#generateQrCode{
    width: 50%;
    margin: 0 auto;
    .form-group{
        label{
            margin-top: 1rem;
        }
        #error1, #error2, #error3{
            margin-top: 0.5rem;
            text-align: center;
            color: red;
        }
    }
    
}


