.generateCode{
    
    text-align: center;
    margin: 2rem auto 2rem auto;
}

#generateQrCode{
    width: 50%;
    margin: 0 auto;
}

#boutons{
    margin: 0 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.errorForm{
    text-align: center;
    color: red;
}