{% block content %}
	<div id="qrcode">
		<img src="{{ qrCode }}" alt="QR code">
	</div>

	<a id="closeCours" href="{{ path('close_cours', {uuid: uuid}) }}">Clôturer l'appel</a>
	<style>
		#qrCode{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 90vh;
		}
		#closeCours{
			display: flex;
			justify-content: center;
			background-color: #ff3333;
			padding: 0.5rem 1rem;
			width:9rem;
			margin: 0 auto;
			color: white;
			text-decoration: none;
			border-radius: 10px;
			font-weight: bold;
		}

	</style>
{% endblock %}