<div id="qrcode"> 
    <img src="{{ qrCode }}" alt="QR code">
</div>

<a id="closeCours" href="{{ path('close_cours', {cours: id }) }}">Clôturer l'appel</a>
<style>
    #qrCode{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    #closeCours{
        display: flex;
        justify-content: center;
    }

</style>