{% block content %}
	<div id="qrcode">
		<img src="{{ qrCode }}" alt="QR code">
	</div>

	<p id="fraude">Attention ! Toute utilisation frauduleuse vous expose à des sanctions disciplinaires<br />Des contrôles aléatoires peuvent être réalisés par l'équipe pédagogique et par l'administration</p>

	<a id="closeCours" href="{{ path('close_cours', {uuid: uuid}) }}">Clôturer l'appel</a>
	<style>
		#qrCode{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 70vh;
		}
		#closeCours{
			display: flex;
			justify-content: center;
			background-color: #ff3333;
			padding: 0.5rem 1rem;
			width:9rem;
			margin: 0 auto;
			color: white;
			text-decoration: none;
			border-radius: 10px;
			font-weight: bold;
		}
		#fraude{
			text-align: center;
			color: red;
			margin-bottom: 2rem;
		}

	</style>
{% endblock %}